@charset "UTF-8";
/* CSS Document */

  body {
    background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#f4f4f4), to(#e0e0e0));
    margin: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .ScrabbleLetter {
    font-family: 'Asap', serif;
    font-size: 60px;
    color: #272832;
    text-shadow:1px 1px 0px #fff5d7;
    margin: 0px;
    user-select: none;
     -moz-user-select: -moz-none;
     -webkit-user-select: none;
     -khtml-user-select: none;
  }

  .ScrabbleNumber {
    font-family: 'Asap', serif;
    font-size: 15px;
    color: #272832;
    text-shadow:1px 1px 0px #fff5d7;
    margin: 0px;
    user-select: none;
     -moz-user-select: -moz-none;
     -webkit-user-select: none;
     -khtml-user-select: none;
  }

  #ScrabbleBlock {
    background-color: #f6e1a6;
    background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#d8bd72), to(#fae1a6));
    height: 70px;
    width: 70px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow:0px 3px 5px #000;
    -webkit-box-shadow:0px 3px 5px #000;
    box-shadow:0px 0px 5px #a000;
    float: left;
    text-align: center;
    /* -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(255, 255, 255, 0.5)));*/
    border-top-width: 1px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #f8e6b1;
    border-right-color: #f8e6b1;
    border-bottom-color: #cab06b;
    border-left-color: #f8e6b1;
     user-select: none;
     -moz-user-select: -moz-none;
     -webkit-user-select: none;
     -khtml-user-select: none;
    }

  .BoardLetterDW {
    font-family: 'Asap', serif;
    font-size: 39px;
    color: #b86e74;
    user-select: none;
    text-transform: uppercase;
    float: left;
    margin-top: 12px;
    margin-left: 3px;
    text-align: center;
  }

  .BoardLetterTW {
    font-family: 'Asap', serif;
    font-size: 39px;
    color: #f8bdb4;
    user-select: none;
    text-transform: uppercase;
    float: left;
    margin-top: 12px;
    margin-left: 3px;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 2px;
  }

  .BoardLetterDL {
    font-family: 'Asap', serif;
    font-size: 39px;
    color: #5d94c5;
    user-select: none;
    text-transform: uppercase;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    text-align: center;
    letter-spacing: 4px;
  }

  .BoardLetterTL {
    font-family: 'Asap', serif;
    font-size: 39px;
    color: #c3f5f7;
    user-select: none;
    text-transform: uppercase;
    float: left;
    margin-top: 12px;
    margin-left: 12px;
    text-align: center;
    letter-spacing: 1px;
    letter-spacing: 6px;
  }

  #BoardBlock {
    background-color: #ffbead;
    height: 70px;
    width: 70px;
    -moz-box-shadow: inset 0px 3px 5px #acacac;
    -webkit-box-shadow:inset 0px 3px 5px #acacac;
    box-shadow: inset 0px 0px 5px #acacac;
  }

  #box-table-b {
    width: 1050px;
    border-collapse: collapse;
    border-top: 4px solid #d8d8d8;
    border-bottom: 4px solid #d8d8d8;
    margin: 50px;
    -moz-box-shadow:0px 3px 20px #000;
    -webkit-box-shadow:0px 3px 20px #000;
    box-shadow:0px 3px 20px #000;
  }

  #box-table-b th {
    /*background-color: #e266b58;*/
    background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#000000), to(#206955));
    border-right: 4px solid #d8d8d8;
    border-left: 4px solid #d8d8d8;
  }

  #box-table-b td {
    /*background-color: #266b58;*/
    background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#ffffff), to(#ffffff));
    border-right: 4px solid #d8d8d8;
    border-left: 4px solid #d8d8d8;
    border-top: 4px solid #d8d8d8;
  }
