body {
  /* background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#e3c0ac), to(#fae6d1)); */
  margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

h1 {
  text-align: center;
}

#gamecanvas {
  text-align: center;
  position: absolute;
}
table {
  table-layout:fixed;
  border: 5px solid  black;
}

table  tr  {
  border : 1px solid black;
  height:60px;
}
table  td{
  border :1px solid black;
  /* background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#c67d53), to(#794628)); */
  width:60px;
  padding: 0px;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  white-space: nowrap;
}

.ScrabbleLetter {
  font-family: 'Asap', serif;
  font-size: 45px;
  color: #272832;
  text-shadow:1px 1px 0px #fff5d7;
  margin: 0px;
  user-select: none;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -khtml-user-select: none;
}

.ScrabbleNumber {
  font-family: 'Asap', serif;
  font-size: 10px;
  color: #272832;
  text-shadow:1px 1px 0px #fff5d7;
  margin: 0px;
  user-select: none;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -khtml-user-select: none;
}
